<%= form_for @artist, html: { multipart: true } do |f| %>


  <div class="form-group">
    <label>Name</label>
    <%= f.text_field :name, placeholder: "Artist name", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Nationality</label>
    <%= f.text_area :nationality, placeholder: "Nationality", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Year of birth</label>
    <div class="input-group">

      <%= f.number_field :birthyear, placeholder: "1980", class: "form-control" %>

  </div>

<label>Picture</label>


    <div class="field">
     Add an image....
     <%= f.file_field :image %>
   </div>
  </span>
</div>

  <div class="actions" id= "form#new_song" >
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
