

  <li id="list <%=@song.id%>">
    <%=      song.name     %>
    <%=      song.duration.to_f%>
    <%=       song.release %>
    <%=      song.album%>
    <a href='#' class='btn btn-default deletesong' data-song-id="<%= song.id %>">Delete</a>
  </li>
