<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel panel-default">
  <div class="panel-heading">
<%=image_tag @artist.image.thumbnail %>
</div>
</div>
<h3> Songs<h3>
  <ol><p>
<%@songs.each do|song|%>
  <%=      song.name     %>
  <%=      song.duration %>
  <%=      song.release  %>
  <%=      song.album    %>
  <%=      song.label    %>
       </p>
  <%end%>
</ol>
  <div class="col-md-3 right">
    <%= link_to "Back", artists_path, class: "btn btn-default" %>
    <%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  </div>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
