
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel panel-default">
  <div class="panel-heading">
<%=image_tag @artist.image.thumbnail.to_s %>
<p>  Nationality: <%=      @artist.nationality     %></p>
<p>   From:       <%=      @artist.birthyear     %></p>
</div>
</div>

<table class="table">
  <tr class= "table-head">
    <th>Title</th>
    <th>Duration</th>
    <th> Released</th>
    <th>Album</th>
    <th>Label</th>
  </tr>
<tr>
  </table>
 <ul>

      <%= render :partial => "song", :collection => @artist.songs %>

</ul>


  <%= render :partial => "songs/form", song: @song, artist_id: @artist %>



  <footer>
    <div class="footer">
      <a href= id="delete">Delete All Songs</a>
    </div>
</ol>
  <div class="col-md-3 right">
    <%= link_to "Back", artists_path, class: "btn btn-default" %>
    <%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  </div>
</footer>
