<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel panel-default">
  <div class="panel-heading">
<%=image_tag @artist.image.thumbnail.to_s %>
<p>  Nationality: <%=      @artist.nationality     %></p>
<p>   From:       <%=      @artist.birthyear     %></p>
</div>
</div>
<h3> Songs </h3>

<table class="pretty">
  <tr>
    <th>title</th>
    <th>Duration</th>
    <th> <%= sortable "release", "Released" %></th>
    <th>Album</th>
    <th>Label</th>
  </tr>

<%@songs.each do|song|%>
  <tr>
<td><%=      song.name     %> </td>
<td><%=      song.duration.to_f %> </td>
<td><%=      song.release.year  %> </td>
<td><%=      song.album    %> </td>
<td><%=      song.label    %> <td>
<td><%=  link_to "Delete", [@artist, song], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><td>
  </tr>

  <%end%>
</table>
  <footer>
  <%= link_to "Add song", new_artist_song_path(@artist, @song), class: "btn btn-success" %>
</ol>
  <div class="col-md-3 right">
    <%= link_to "Back", artists_path, class: "btn btn-default" %>
    <%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  </div>
</footer>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
  <style>p.indent{ padding-left: 1.8em }</style>
