<%= form_for [@artist, @song] do |f| %>


<div class="form-group <%= song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">

  <%= f.text_field :name, placeholder: "song title", class: "form-control" %>


  <%= f.number_field :duration, placeholder: "min", class: "form-control" %>

  <%= f.date_field :release, placeholder: "1993", class: "form-control" %>
  <%= f.text_field :album, placeholder: "Album name", class: "form-control" %>

  <%= f.text_field :label, placeholder: "label name", class: "form-control" %>


   <div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

  <% if song.errors.any? %>
     <% song.errors.full_messages.each do |message| %>
       <span class="help-block"><%= message %></span>
     <% end %>
   <% end %>
</div>

<% end %>
